Source: redhat-cluster-pve
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 3.8.3
Build-Depends: quilt (>= 0.46-7~), debhelper (>= 7), autotools-dev, 
 libxml2-dev, libncurses5-dev, linux-libc-dev, 
 libnss3-dev, libnspr4-dev, bzip2, libslang2-dev, libldap2-dev, 
 perl-modules,
 libcorosync-pve-dev,
 libopenais-pve-dev,
 xsltproc,
 pve-headers-2.6.32-12-pve

Package: redhat-cluster-pve
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, 
 pve-cluster, corosync-pve, openais-pve, openssh-client, libxml2-utils, xsltproc
Conflicts: cman, redhat-cluster-suite, gfs2-tools, rgmanager
Description: Red Hat cluster suite
 RHCS is a cluster management infrastructure, for building
 high-availability multi-node clusters with service and IP failover on
 top of shared Fibre Channel/iSCSI storage devices.


Package: redhat-cluster-pve-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},  redhat-cluster-pve (= ${binary:Version})
Description: Red Hat cluster suite - cluster manager development files
 This package is part of the Red Hat Cluster Suite, a complete
 high-availability solution.
 .
 This package contains the files needed for developing applications.
